button {
  height: 60px;
}

.measure.active {
  color: green;
}

/* Navigation */
nav ul {
  padding: 0;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
}
nav ul li .active {
  color: orange;
}

/* Main controls */
.player {
  display: none;
}
.player:target {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}
.player {
  margin: 20px 10px;
}

/* Measure Controls (tempo, etc.) */
.measure-controls {
  width: 50%;
  font-size: 30px;
}
.measure-controls form {
  display: flex;
  flex-direction: row;
  align-items: left;
}
.measure-controls form input {
  font-size: inherit;
  text-align: center;
  margin: 20px 10px;
  width: 75%;
}

/* Song controls (add/edit/delete measures) */
.song-controls {
  display: flex;
  flex-direction: row;
  width: 90%;
}
.song-controls .measure-buttons {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  width: 5%;
}

/* Playback controls (play/pause/stop/skip, speed) */
.playback-controls {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playback-controls div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.playback-controls button {
  width: 15%;
  margin: 20px 0px;
}
.playback-controls input {
  width: 60%;
}
